*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.square{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  display: grid;
  place-content: centre;
}
button{
  width: 200px;
  padding: 1 rem;
  border-radius: 5px;
}